.body{
	background-image : url("pic.jpg");
}

background : linear-gradient(#73C8A9,#373B44);

.bisht{
	background-color : orange;
	width : 500px;
}



.loader{
	position: relative;
	border: 16px solid #80bfff;
 	border-left: 16px solid #b30000;
	border-radius: 80% ;
	width: 70px;
	height: 70px;
	animation: spin 2s linear infinite;
	margin-left : 37em;
	margin-top : 2em;
}

.txt{
	margin-left : 8.5em;
	margin-top : 4.5em;
	font-size: 45px;
	font-family: Arial;
	filter: blur(0px);
	opacity: 0.8;
	color : #ffff00;
	animation: txt 5s normal;
	animation-timing-function: ease-out;	
}

@keyframes spin {
	0% { transform: rotate(0deg);}
	100%{ transform: rotate(360deg);}
}
@keyframes txt {
	from{color : #ff80ff; opacity : 0.1;}
	to{color : #ffff00; opacity : 0.9;}
}

@keyframes fadeout {
	from{opacity : 0.9;}
	to{opacity : 0;}
}

.title{
	color : #ffff00;
	font-size : 30px;
	font-family: Arial;
	margin-left : 18em;
	margin-top : 4.5em;
}

.tit{
	color : #ffff00;
	font-size : 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	margin-left : 39em;
	margin-top : 1em;
}

#opa{
	color : Blue;
	font-size : 20px;
	font-family: Georgia;
	margin-left : 28.5em;
	margin-top : 4em;
	box-shadow : 5px 5px 5px #80bfff;
}


#pop {
	color : #ffff00;
	font-size : 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
    position: absolute;
	margin-left : 20%;
	margin-top : 4%;
    
}

.bike {
    background-color: red;
    height: 40%;
    width: 50%;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
}

#polk {
    position: absolute;
    margin-left: 10%;
    margin-top: 20%;
}
