


.header {
	width: 25%;
    height:10%;
    position : absolute;
    margin-left: 26%;
    margin-top: -1.5%;
	color:whitesmoke;
	background: #5F9EA0;
    font-size: 120%;
    font-weight: bold;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
}

.input-group {
	margin: 10px 0px 10px 0px;
    
}

.input-group label {
	display: block;
	text-align: left;
    font-size: 60%;
	margin-top: 10%;
    font-family: Apple Chancery, serif;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	position: absolute;
    margin-left:87%;
    margin-top: -0.3%;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
    height:5%;
    width:7%;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.lop {
    position: absolute;
    height : 4%;
    width : 14%;
    margin-left: 46%;
    margin-top: -0.3%;
    border: 1px solid blue;
    border-radius: 4px;
}

.lop1 {
    position: absolute;
    margin-left: 39%;
    margin-top: 0.02%;
    font-weight: 500;
    font-family: system-ui;
    font-size: 60%;
}

.lol1 {
    position: absolute;
    margin-left: 62.8%;
    margin-top: 0.02%;
    font-weight: 500;
    font-size: 60%;
    font-family: system-ui;
}

.lol {
    position: absolute;
    margin-left: 70%;
    margin-top: -0.3%;
    border: 1px solid blue;
    border-radius: 4px;
    height : 4%;
    width : 14%;
}

#loly {
    position: absolute;
    margin-left: 87%;
    margin-top: 2.4%;
    font-size: 45%;
    font-weight: 700;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

.mol {
    font-size: 18px;
}

.lol3 {
    position: absolute;
    font-size: 45%;
    font-weight: 700;
    margin-left: 73%;
    margin-top: 2.4%;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

#lol3 {
    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
}
.modal {
    display: none; /* Hidden by default */
    position: absolute;/* Stay in place */
    margin-left: 0%;
    margin-top: -15%;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:93%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


