


.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	position: absolute;
    margin-left:87%;
    margin-top: -0.3%;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
    height:5%;
    width:7%;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.lop {
    position: absolute;
    height : 4%;
    width : 14%;
    margin-left: 47%;
    margin-top: -0.3%;
    border: 1px solid blue;
    border-radius: 4px;
}

.lop1 {
    position: absolute;
    margin-left: 41%;
    margin-top: 0.02%;
    font-weight: 500;
    font-family: system-ui;
}

.lol1 {
    position: absolute;
    margin-left: 63.5%;
    margin-top: 0.02%;
    font-weight: 500;
    font-family: system-ui;
}

.lol {
    position: absolute;
    margin-left: 70%;
    margin-top: -0.3%;
    border: 1px solid blue;
    border-radius: 4px;
    height : 4%;
    width : 14%;
}

#loly {
    position: absolute;
    margin-left: 87%;
    margin-top: 2.4%;
    font-size: 75%;
    font-weight: 400;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

.mol {
    font-size: 18px;
}

.lol3 {
    position: absolute;
    font-size: 70%;
    font-weight: 700;
    margin-left: 74.3%;
    margin-top: 2.4%;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

#lol3 {
    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bn {
    position: absolute;
    margin-left: 8%; 
	font-size: 80%;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
    height:8%;
    width:8%;
}

#lk {
    position: absolute;
    margin-top: 20%;
}

#lop {
    position: absolute;
    margin-top: 4%;
    margin-left: 3%;
    font-size: 60%;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

.group {
    position: absolute;
}

#polk {
    text-align: right;
    font-size: 80%;
    position: relative;
    margin-left: 10%;
    font-family: Apple Chancery, serif;
}

#div1 {
    position: absolute;
    margin-top: 13.7%;
    margin-left: 75%;
    font-size: 20px; text-align: right;
}

#atyl {
    position: relative;
    margin-top: 10%;
    width:100%;
}

#MyMod {
    position: absolute;
    margin-left: 28%;
    margin-top: 6%;
    height:70%;
    width:40%;
}

.re {
    width: 31.3%;
    height: 88%;
	margin-top: 4.3%;
    margin-left: 32.5%;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: whitesmoke;
	border-radius: 0px 0px 10px 10px;
}

form {
    background='wormz.png' ;
}





#er {
    font-family: 'Amatica SC';font-size: 32px; 
    position: absolute;
    color:#E75A18;
    margin-top: 2%;
    margin-left: 6.5%;
    font-size: 180%;
}




